 .navbar-inverse
        {
            background-color:darkviolet;
        }
        .navbar-inverse .navbar-brand
        {
            color:white;
        }
        .navbar-inverse .navbar-text
        {
            color:white;
        }
       .navbar-inverse .navbar-nav > li > a{
            color:white;
        }
        .navbar-inverse .navbar-nav > li > a:hover{
            background-color:coral;
        }