
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="modal fade" id="noCheckModal" tabindex="-1" role="dialog" aria-labelledby="noCheckModal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="noCheckModal-label">待处理报检单</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form">
                            <div class="form-group">
                                <label class="control-label" for="tbxInspectionNum">报检单编号</label>
                                <input id="tbxInspectionNum" name="tbxInspectionNum" class="form-control" type="text" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="tbxInspectionRemark">报检单备注</label>
                                <textarea id="tbxInspectionRemark" name="tbxInspectionRemark" class="form-control" rows="4" cols="20"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h4 id="lblProductName"></h4>
                        <h4 id="lblProductBatchNum"></h4>
                        <h4 id="lblProductDealer"></h4>
                        <h4 id="lblProductPackingType"></h4>
                        <h4 id="lblArrivalDate"></h4>
                        <h4 class="text-primary" id="lblState"></h4>
                    </div>
                    <div class="col-lg-6">
                        <h4 id="lblProductFactory"></h4>
                        <h4 id="lblProductType"></h4>
                        <h4 id="lblProductCount"></h4>
                        <h4 id="lblSamplePlace"></h4>
                        <h4 id="lblInspectionDate"></h4>
                        <h4 id="lblInspectionPerson"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>使用单位</h4>
                        <ul style="list-style-type:decimal" id="productDeptList"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="hidden" id="noCheckInspectionID"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-danger" id="btnRefuse"><span class="glyphicon glyphicon-remove"></span> 回退</button>
                <button type="button" class="btn btn-primary" id="btnAccess"><span class="glyphicon glyphicon-ok"></span> 接收</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="detailModal-label">报检单详细信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="text-danger" for="tbxDetailInspectionNum">报检单编号：</label>
                                <input class="form-control" id="tbxDetailInspectionNum" type="text" />
                            </div>
                            <div class="form-group">
                                <label class="text-info" id="lblDetailState"></label>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <h4 id="lblDetailProductFactory"></h4>
                        <h4 id="lblDetailProductDealer"></h4>
                        <h4 id="lblDetailProductPackingType"></h4>
                        <h4 id="lblDetailArrivalDate"></h4>
                        <h4 id="lblDetailInspectionPerson"></h4>
                        <h4 id="lblDetailInspectionDate"></h4>
                    </div>
                    <div class="col-lg-6">
                        <h4 id="lblDetailProductBatchNum"></h4>
                        <h4 id="lblDetailProductType"></h4>
                        <h4 id="lblDetailSamplePlace"></h4>
                        <h4 id="lblDetailProductCount"></h4>
                        <h4 id="lblDetailDisposePerson"></h4>
                        <h4 id="lblDetailDisposeDate"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 well well-sm">
                        <h4 id="lblDetailRemark"></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>使用单位</h4>
                        <ul style="list-style-type:decimal" id="productDetailDeptList"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="hidden" id="lblDetailInspectionID"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> 关闭
                </button>
                <button type="button" class="btn btn-primary" id="btnEditInspectionNum">
                    <span class="glyphicon glyphicon-edit"></span> 修改编号
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="backModal" tabindex="-1" role="dialog" aria-labelledby="backModal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="backModal-label">回退报检单</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label class="control-label" id="lblBackInspectionNum"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" id="lblBackInspectionName"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" id="lblBackInspectionBatchNum"></label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="tbxBackRemark">回退原因</label>
                        <textarea id="tbxBackRemark" class="form-control" rows="3" cols="20"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span id="lblBackInspectionID"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnBack">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3>待处理报检单<span class="label label-default" id="noCheckCount">0</span></h3>
        <ul id="listInspectionSubmit" class="list-unstyled"></ul>
    </div>
    <div class="col-lg-8">
        <h3>已处理报检单</h3>
        <div class="form-inline">
            <div class="form-group">
                <label for="tbxInspectionNumSearch">编号</label>
                <input type="text" class="form-control" id="tbxInspectionNumSearch">
            </div>
            <div class="form-group">
                <label for="tbxProductName">产品名称</label>
                <input type="text" class="form-control" id="tbxProductName">
            </div>
            <div class="form-group">
                <label for="tbxProductBatchNum">产品批号</label>
                <input type="text" class="form-control" id="tbxProductBatchNum">
            </div>
            <div class="form-group">
                <label for="ddlInspectionDept">报检单位</label>
                <select class="form-control" id="ddlInspectionDept">
                    <option value="">全部</option>
                </select>
            </div>
            <br /><br />
            <div class="form-group">
                <label for="tbxDisposeDateStart">接收日期范围</label>
                <input type="text" readonly class="form-control" id="tbxDisposeDateStart">
            </div>
            --
            <div class="form-group">
                <input type="text" readonly class="form-control" id="tbxDisposeDateEnd">
            </div>
            <button type="button" class="btn btn-default" id="btnSearch"><span class="glyphicon glyphicon-search"></span> 查询</button>
            <button type="button" class="btn btn-default" id="btnRefresh"><span class="glyphicon glyphicon-refresh"></span> 重置</button>
            <button type="button" class="btn btn-default" id="btnToExcel"><span class="glyphicon glyphicon-floppy-save"></span> 导出统计表</button>
        </div>
        <br />
        <ul id="listInspectionCheck" class="list-unstyled"></ul>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-inline">
                    <div class="form-group">
                        共<span id="totalPageCount"></span>页 |
                        <span id="totalDataCount"></span>条数据
                        每页<select id="ddlPageSize" class="form-control">
                            <option value="5">5</option>
                            <option selected value="3">3</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>项
                    </div>
                    <div class="form-group">
                        <ul id="pageList" style="padding-top:5px;"></ul>
                    </div>
                    <div class="input-group col-md-1 col-lg-1">
                        <input id="tbxCurPage" value="1" maxlength="7" size="2" class="form-control text-center" type="text" placeholder="">
                        <span class="input-group-btn">
                            <button id="goPage" class="btn btn-primary" type="button">
                                转到
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<audio id="audio" controls="controls" class="hidden">
    <source src="~/Content/oppo.mp3" type="audio/mpeg" />
</audio>
<script>
    $(function () {
        //日期比较，返回true、false
        function CompareDate(d1, d2) {
            return ((new Date(d1.replace(/-/g, "\/"))) <= (new Date(d2.replace(/-/g, "\/"))));
        }

        //初始化日期控件
        $("#tbxDisposeDateStart,#tbxDisposeDateEnd").datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'yyyy-mm-dd'
        });

        //加载二级单位列表
        LoadFatherDept();

        function clearNoCheckInfo() {
            $("#tbxInspectionNum,#tbxInspectionRemark").val("");
            $("label.error").hide();
            $(".error").removeClass("error");
        }

        //首次加载待处理报检单
        LoadInspectionSubmit();

        //每60秒调用刷新一次待处理的报检单列表
        setInterval(LoadInspectionSubmit, 1000 * 60);

        //获取待处理报检单列表--函数
        function LoadInspectionSubmit() {
            $.post("/Check/GetNoCheckList", "", function (data, textStatus, jqXHR) {
                $("#listInspectionSubmit").empty();
                $.each(data, function (indexInArray, valueOfElement) {
                    var isMaterialName = "";
                    if (valueOfElement.IsMaterialName == "是") {
                        isMaterialName = "<span class='label label-warning'><i class='glyphicon glyphicon-duplicate'></i></span>";
                    }
                    var temp = "<li>";
                    var inspectionDate = getJsonDate(valueOfElement.InspectionDate);
                    temp += "<div class='panel panel-primary'><div class='panel-heading'><h3 class='panel-title'>"+isMaterialName+" " + valueOfElement.ProductName + "</h3></div>";
                    temp += "<div class='panel-body'>";
                    temp += "【报检：" + valueOfElement.InspectionFatherDeptName+" | ";
                    temp += "" + valueOfElement.InspectionPersonName + " | 电话：" + valueOfElement.UserPhone + " | " + inspectionDate + "】";
                    temp += "【批号：" + valueOfElement.ProductBatchNum + "】 ";
                    temp += "<button class='btn btn-success btn-sm btnDispose' data-id='" + valueOfElement.InspectionApplicationID + "'>处理</button>";
                    temp += "</div></div></li>";
                    $("#listInspectionSubmit").append(temp);
                });
                var infoLength = data.length;//最新数据的数量
                var noCheckCount = $("#noCheckCount").text();//当前列表的数量

                //首次加载，不播放提示音、更新当前信息数量
                if (noCheckCount==0) {
                    $("#noCheckCount").text(infoLength);
                }
                else
                {
                    $("#noCheckCount").text(infoLength);
                    //如果最新数据的数量大于当前的信息数量，则播放提示音
                    if (infoLength > noCheckCount) {
                        var audio = document.getElementById("audio");
                        audio.play();//开始播放
                    }
                }
            });
        }

        //获取全部二级单位
        function LoadFatherDept() {
            $.post("/Home/GetFatherDept","", function (result) {
                var temp = "<option value=''>全部</option>";
                $.each(result, function (indexInArray, valueOfElement) {
                    temp += "<option value='" + valueOfElement.DeptID + "'>" + valueOfElement.DeptName + "</option>";
                });
                $("#ddlInspectionDept").empty().append(temp);
            });
        }

        //【处理】按钮
        $(document).on("click", ".btnDispose", function () {
            clearNoCheckInfo();
            var infoID = $(this).attr("data-id");
            var args = {
                "id": infoID
            };
            $.post("/Add/GetInspectionDetail", encodeURIComponent(JSON.stringify(args)), function (result) {
                $('#noCheckModal').modal('show');

                var inspectionDeptList = result["inspectionDeptList"];
                var inspectionInfo = result["inspectionInfo"][0];

                var isMaterialName = "";
                if (inspectionInfo.IsMaterialName == "是") {
                    isMaterialName = "<span class='label label-warning'><i class='glyphicon glyphicon-duplicate'></i></span>";
                }
                $("#lblProductName").html("产品名称：" +isMaterialName+ inspectionInfo.ProductName);
                $("#lblProductBatchNum").text("产品批号：" + inspectionInfo.ProductBatchNum);
                $("#lblProductDealer").text("经销商：" + inspectionInfo.ProductDealer);
                $("#lblProductPackingType").text("包装规格：" + inspectionInfo.ProductPackingType);
                $("#lblArrivalDate").text("到货日期：" + getJsonDate(inspectionInfo.ArrivalDate));
                $("#lblState").text("报检单状态：" + inspectionInfo.InspectionApplicationState);

                $("#lblProductFactory").text("生产厂家：" + inspectionInfo.ProductFactory);
                $("#lblProductType").text("产品型号：" + inspectionInfo.ProductType);
                $("#lblProductCount").text("到货数量：" + inspectionInfo.ProductCount);
                $("#lblInspectionDate").text("报检日期：" + getJsonDate(inspectionInfo.InspectionDate));
                $("#lblInspectionPerson").text("报检人：" + inspectionInfo.InspectionFatherDeptName + " | " + inspectionInfo.InspectionPersonName + " | 电话：" + inspectionInfo.UserPhone);
                $("#lblSamplePlace").text("采样地点/车号：" + inspectionInfo.SamplePlace);

                $("#tbxInspectionRemark").val(inspectionInfo.DisposeRemark);

                $("#noCheckInspectionID").text(inspectionInfo.InspectionApplicationID);

                var deptLi = "";
                $.each(inspectionDeptList, function (indexInArray, valueOfElement) {
                    deptLi += "<li>" + valueOfElement.fatherName + "：" + valueOfElement.childName + "</li>";
                });
                $("#productDeptList").empty().append(deptLi);
            });
        });

        //检查报检单编号是否重复
        function CheckInspectionNum(num) {
            var args = { "num": num};
            $.post("/Check/CheckInspectionNum", encodeURIComponent(JSON.stringify(args)), function (result) {
                console.log(result);
                return result;
            });
        };

        //【接收】按钮
        $("#btnAccess").click(function () {
            var inspectionNum = $("#tbxInspectionNum").val();
            if (inspectionNum == "") {
                toastr.error("报检单编号不能为空", "提示");
            }
            else {
                Ewin.confirm({ message: "确认要接收此报检单吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var argsNum = { "num": inspectionNum };
                        $.post("/Check/CheckInspectionNum", encodeURIComponent(JSON.stringify(argsNum)), function (isOk) {
                            //检查报检单编号是否重复
                            if (isOk == "ok") {
                                var inspectionID = $("#noCheckInspectionID").text();
                                var inspectionRemark = $("#tbxInspectionRemark").val();
                                var args = { "id": inspectionID, "submitType": "access", "inspectionNum": inspectionNum, "inspectionRemark": inspectionRemark };
                                $.post("/Check/InspectionCheck", encodeURIComponent(JSON.stringify(args)), function (result) {
                                    if (result == "ok") {
                                        toastr.success("接收报检单成功！", "提示");
                                        $('#noCheckModal').modal('hide');
                                        LoadInspectionSubmit();
                                        getList(1, $("#ddlPageSize").val());
                                    }
                                    else {
                                        toastr.error(result, "提示");
                                    }
                                });
                            }
                            else {
                                if (isOk == "error") {
                                    toastr.error("报检单编号不能重复！", "提示");
                                }
                                else {
                                    toastr.error(isOk, "提示");
                                }
                            }
                        });
                    }
                });
            }
        });

        //【回退】按钮
        $("#btnRefuse").click(function () {
            var inspectionRemark = $("#tbxInspectionRemark").val();
            if (inspectionRemark == "") {
                toastr.error("请在备注中填写回退原因！", "提示");
            }
            else {
                Ewin.confirm({ message: "确认要回退此报检单吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var inspectionID = $("#noCheckInspectionID").text();
                        var inspectionRemark = $("#tbxInspectionRemark").val();
                        var args = { "id": inspectionID, "submitType": "refuse", "inspectionNum": "", "inspectionRemark": inspectionRemark };
                        $.post("/Check/InspectionCheck", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result == "ok") {
                                toastr.success("回退报检单成功！", "提示");
                                $('#noCheckModal').modal('hide');
                                LoadInspectionSubmit();
                                getList(1, $("#ddlPageSize").val());
                            }
                            else {
                                toastr.error(result, "提示");
                            }
                        });
                    }
                });
            }
        });

        //加载已处理的报检单
        getList(1, $("#ddlPageSize").val());
        function getList(curPage, pageSize) {
            var productName = $("#tbxProductName").val();
            var inspectionNum = $("#tbxInspectionNumSearch").val();
            var productBatchNum = $("#tbxProductBatchNum").val();
            var inspectionDept = $("#ddlInspectionDept").val();
            var disposeDateStart = $("#tbxDisposeDateStart").val();
            var disposeDateEnd = $("#tbxDisposeDateEnd").val();
            var args = {
                "curPage": curPage,
                "pageSize": pageSize,
                "productName": productName,
                "inspectionNum": inspectionNum,
                "productBatchNum": productBatchNum,
                "inspectionDept": inspectionDept,
                "disposeDateStart": disposeDateStart,
                "disposeDateEnd": disposeDateEnd
            };
            $.post("/Check/GetCheckList", encodeURIComponent(JSON.stringify(args)), function (result) {
                var listInfo = result["infoList"];//数据列表
                var count = result["count"];//数据个数
                if (listInfo.length != 0) {
                    var totalPageCount;//总页数
                    if (count % pageSize != 0) {
                        totalPageCount = count / pageSize + 1;
                    }
                    else {
                        totalPageCount = count / pageSize;
                    }

                    $("#totalPageCount").text(parseInt(totalPageCount));
                    $("#totalDataCount").text(count);

                    var temp = "";
                    $.each(listInfo, function (indexInArray, valueOfElement) {
                        var isMaterialName = "";
                        if (valueOfElement.IsMaterialName == "是") {
                            isMaterialName = "<span class='label label-warning'><i class='glyphicon glyphicon-duplicate'></i></span>";
                        }
                        temp += "<li>";
                        var inspectionDate = getJsonDate(valueOfElement.InspectionDate);
                        //var arrivalDate = getJsonDate(valueOfElement.ArrivalDate);
                        var disposeDate = getJsonDateTime(valueOfElement.DisposeDate);
                        //var state = "";
                        //if (valueOfElement.ProductName == "分析完成") {
                        //    state = "<span class='label label-success'>分析完成</span> ";
                        //}
                        //else
                        //{
                        //    state = "<span class='label label-info'>已接收</span> ";
                        //}
                        temp += "<div class='panel panel-default'>";
                        temp += "<div class='panel-heading'><a href='#' class='btnDetail' data-id='" + valueOfElement.InspectionApplicationID + "'><h3 class='panel-title'>" +isMaterialName+" "+ valueOfElement.ProductName + "</h3></a></div>";
                        temp += "<div class='panel-body'>";
                        temp += "【编号：" + valueOfElement.InspectionApplicationNum + "】";
                        //temp += "【生产厂家：" + valueOfElement.ProductFactory + "】";
                        //temp += "【经销商：" + valueOfElement.ProductDealer + "】";
                        temp += "【批号：" + valueOfElement.ProductBatchNum + "】";
                        //temp += "【包装规格：" + valueOfElement.ProductPackingType + "】";
                        //temp += "【到货数量：" + valueOfElement.ProductCount + "】";
                        //temp += "【到货日期：" + arrivalDate + "】";
                        //temp += " <br />";
                        temp += "【报检：" + valueOfElement.InspectionFatherDeptName + " | " + valueOfElement.InspectionPersonName + " | 电话：" + valueOfElement.UserPhone + " | " + inspectionDate + "】";
                        temp += " 【接收：" + valueOfElement.DisposePersonName + " | " + disposeDate + "】";

                        //temp += "<button class='btn btn-default btn-sm btnOk' data-id='" + valueOfElement.InspectionApplicationID + "'><span class='glyphicon glyphicon-scale'></span> 分析完成</button>&nbsp;";
                        //temp += "<button class='btn btn-default btn-sm btnEditNum' data-num='" + valueOfElement.InspectionApplicationNum + "' data-id='" + valueOfElement.InspectionApplicationID + "'><span class='glyphicon glyphicon-pencil'></span> 修改编号</button>&nbsp;";
                        temp += "<button class='btn btn-danger btn-sm btnBack' data-id='" + valueOfElement.InspectionApplicationID + "' data-name='" + valueOfElement.ProductName + "' data-BatchNum='" + valueOfElement.ProductBatchNum + "' data-Num='" + valueOfElement.InspectionApplicationNum + "'>回退</button>";
                        temp += "</div></div></li>";
                    });
                    $("#listInspectionCheck").empty().append(temp);
                    
                    var options = {
                        numberOfPages: 6,
                        bootstrapMajorVersion: 3,
                        currentPage: curPage,
                        totalPages: totalPageCount,
                        useBootstrapTooltip: false,
                        itemTexts: function (type, page, current) {
                            switch (type) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "尾页";
                                case "page":
                                    return page;
                            }
                        },
                        alignment: 'right',
                        tooltipTitles: function (type, page, current) {
                        },
                        onPageClicked: function (event, originalEvent, type, page) {
                            getList(page, pageSize);
                            $("#tbxCurPage").val(page);
                        }
                    }
                    $('#pageList').bootstrapPaginator(options);
                }
                else {
                    $("#totalDataCount,#totalPageCount").text("0");
                    var noData = "<h3>没有数据！</h3>";
                    $("#listInspectionCheck").empty().append(noData);
                    $('#pageList').empty();
                }
            });
        }
        $("#ddlPageSize").change(function () {
            $("#tbxCurPage").val("1");
            getList(1, $("#ddlPageSize").val());
        });
        $("#goPage").click(function () {
            if ($("#tbxCurPage").val() == "") {
                toastr["warning"]("页码不能为空", "提示");
            }
            else {
                var r = /^[0-9]*[1-9][0-9]*$/
                if (r.test($("#tbxCurPage").val())) {
                    var goPageNum = parseInt($("#tbxCurPage").val());
                    var totalPage = parseInt($("#totalPageCount").html());
                    if (goPageNum >= 1 && goPageNum <= totalPage) {
                        getList(goPageNum, $("#ddlPageSize").val());
                        $("#tbxCurPage").val(goPageNum);
                    }
                    else {
                        toastr["warning"]("亲，页码超过范围！", "提示");
                        $("#tbxCurPage").val("");
                    }
                }
                else {
                    toastr["warning"]("亲，只能填写数字！", "提示");
                    $("#tbxCurPage").val("");
                }
            }
        });

        //查询按钮
        $("#btnSearch").click(function () {
            var disposeDateStart = $("#tbxDisposeDateStart").val();
            var disposeDateEnd = $("#tbxDisposeDateEnd").val();
            if (disposeDateEnd != ""||disposeDateStart!="") {
                if (CompareDate(disposeDateStart, disposeDateEnd)) {
                    getList(1, $("#ddlPageSize").val());
                }
                else
                {
                    toastr.error("日期范围必须填写完整，结束日期必须大于开始日期！", "提示");
                }
            }
            else
            {
                getList(1, $("#ddlPageSize").val());
            }
        });

        //重置按钮
        $("#btnRefresh").click(function () {
            $("#tbxProductName,#tbxInspectionNumSearch,#tbxProductBatchNum,#tbxDisposeDateStart,#tbxDisposeDateEnd,#ddlInspectionDept").val("");
            getList(1, $("#ddlPageSize").val());
        });

        //已处理订单详细信息
        $(document).on("click", ".btnDetail", function () {
            var infoID = $(this).attr("data-id");
            var args = {
                "id": infoID
            };
            $.post("/Check/GetCheckedInspectionDetail", encodeURIComponent(JSON.stringify(args)), function (result) {
                $('#detailModal').modal('show');
                var inspectionDeptList = result["inspectionDeptList"];
                var inspectionInfo = result["inspectionInfo"][0];

                var isMaterialName = "";
                if (inspectionInfo.IsMaterialName == "是") {
                    isMaterialName = "<span class='label label-warning'><i class='glyphicon glyphicon-duplicate'></i></span>";
                }

                $("#detailModal-label").html(isMaterialName+inspectionInfo.ProductName);

                $("#lblDetailInspectionID").text(inspectionInfo.InspectionApplicationID);
                $("#tbxDetailInspectionNum").val(inspectionInfo.InspectionApplicationNum);
                $("#lblDetailProductBatchNum").text("产品批号：" + inspectionInfo.ProductBatchNum);
                $("#lblDetailProductDealer").text("经销商：" + inspectionInfo.ProductDealer);
                $("#lblDetailProductPackingType").text("包装规格：" + inspectionInfo.ProductPackingType);
                $("#lblDetailArrivalDate").text("到货日期：" + getJsonDate(inspectionInfo.ArrivalDate));
                $("#lblDetailState").text("报检单状态：" + inspectionInfo.InspectionApplicationState);

                $("#lblDetailProductFactory").text("生产厂家：" + inspectionInfo.ProductFactory);
                $("#lblDetailProductType").text("产品型号：" + inspectionInfo.ProductType);
                $("#lblDetailProductCount").text("到货数量：" + inspectionInfo.ProductCount);
                $("#lblDetailSamplePlace").text("采样地点/车号：" + inspectionInfo.SamplePlace);

                $("#lblDetailInspectionPerson").text("报检人：" + inspectionInfo.InspectionFatherDeptName + " | " + inspectionInfo.InspectionPersonName + " | 电话：" + inspectionInfo.UserPhone);
                $("#lblDetailDisposePerson").text("接收人：" + inspectionInfo.DisposePersonName + " | 电话：" + inspectionInfo.disposePersonPhone);
               
                $("#lblDetailInspectionDate").text("报检日期："+getJsonDate(inspectionInfo.InspectionDate));
                $("#lblDetailDisposeDate").text("接收时间："+ getJsonDateTime(inspectionInfo.DisposeDate));

                $("#lblDetailRemark").text("备注：" + inspectionInfo.DisposeRemark);

                var deptLi = "";
                $.each(inspectionDeptList, function (indexInArray, valueOfElement) {
                    deptLi += "<li>" + valueOfElement.fatherName + "：" + valueOfElement.childName + "</li>";
                });
                $("#productDetailDeptList").empty().append(deptLi);
            });
        });

        //修改编号按钮
        $("#btnEditInspectionNum").click(function () {
            var inspectionNum = $("#tbxDetailInspectionNum").val();
            var inspectionID = $("#lblDetailInspectionID").text();
            if (inspectionNum == "") {
                toastrl.error("报检单编号不能为空！","提示")
            }
            else {
                var argsNum = { "num": inspectionNum };
                $.post("/Check/CheckInspectionNum", encodeURIComponent(JSON.stringify(argsNum)), function (isOk) {
                    //检查报检单编号是否重复
                    if (isOk == "ok") {
                        Ewin.confirm({ message: "确认要修改此报检单编号吗？" }).on(function (e) {
                            if (!e) {
                                return;
                            }
                            else {
                                var args = { "id": inspectionID,"inspectionNum": inspectionNum };
                                $.post("/Check/EditInspectionNum", encodeURIComponent(JSON.stringify(args)), function (result) {
                                    if (result == "ok") {
                                        toastr.success("修改报检单编号成功！", "提示");
                                        $('#detailModal').modal('hide');
                                        //getList(1, $("#ddlPageSize").val());
                                        var goPageNum = parseInt($("#tbxCurPage").val());
                                        getList(goPageNum, $("#ddlPageSize").val());
                                    }
                                    else {
                                        toastr.error(result, "提示");
                                    }
                                });
                            }
                        });
                    }
                    else {
                        if (isOk == "error") {
                            toastr.error("报检单编号不能重复！", "提示");
                        }
                        else {
                            toastr.error(isOk, "提示");
                        }
                    }
                });
            }
        });

        //回退按钮
        $(document).on("click", ".btnBack", function () {
            $('#backModal').modal('show');
            var infoID = $(this).attr("data-id");
            var num = $(this).attr("data-Num");
            var name = $(this).attr("data-Name");
            var batchNum = $(this).attr("data-BatchNum");
            $("#lblBackInspectionID").text(infoID);
            $("#lblBackInspectionName").text("产品名称：" + name);
            $("#lblBackInspectionNum").text("报检单编号：" + num);
            $("#lblBackInspectionBatchNum").text("产品批号：" + batchNum);
        });

        //回退提交按钮
        $("#btnBack").click(function () {
            var remark = $("#tbxBackRemark").text();
            var id = $("#lblBackInspectionID").text();
            if (remark == "") {
                toastr.error("回退必须填写回退原因！", "提示");
            }
            else {
                Ewin.confirm({ message: "确认要回退此报检单吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        var args = { "id": id, "remark": remark };
                        $.post("/Check/BackInspectionChecked", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result == "ok") {
                                toastr.success("回退报检单成功！", "提示");
                                $('#backModal').modal('hide');
                                getList(1, $("#ddlPageSize").val());
                            }
                            else {
                                toastr.error(result, "提示");
                            }
                        });
                    }
                });
            }
        });

        //报检单统计按钮--根据接收日期
        $("#btnToExcel").click(function () {
            var disposeDateStart = $("#tbxDisposeDateStart").val();
            var disposeDateEnd = $("#tbxDisposeDateEnd").val();
            if (disposeDateEnd != "" && disposeDateStart != "") {
                if (CompareDate(disposeDateStart, disposeDateEnd)) {
                    window.location.href = "/Check/InspectionToExcel?dateBegin=" + disposeDateStart + "&dateEnd=" + disposeDateEnd;
                }
                else {
                    toastr.error("日期范围必须填写完整，结束日期必须大于开始日期！", "提示");
                    $("#tbxDisposeDateStart,#tbxDisposeDateEnd").val("");
                }
            }
            else {
                toastr.error("日期范围不能为空！", "提示");
            }
        });
    });
</script>
