
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Scripts/bootstrap-paginator.min.js"></script>
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal-label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="detailModal-label">报检单详细信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 id="lblProductName"></h3>
                        <h3 id="lblProductDealer"></h3>
                        <h3 id="lblProductType"></h3>
                        <h3 id="lblProductPackingType"></h3>
                        <h3 id="lblArrivalDate"></h3>
                        <h3 class="text-primary" id="lblState"></h3>
                    </div>
                    <div class="col-lg-6">
                        <h3 id="lblInspectionNum"></h3>
                        <h3 id="lblProductFactory"></h3>
                        <h3 id="lblProductBatchNum"></h3>
                        <h3 id="lblSamplePlace"></h3>
                        <h3 id="lblProductCount"></h3>
                        <h3 id="lblInspectionInfo"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 id="lblRemark"></h3>
                    </div>
                </div>
                <div class="row">
                    <h4>使用单位</h4>
                    <ul style="list-style-type:decimal" id="productDeptList"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> 关闭
                </button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12 col-md-12 form-inline">
        <div class="form-group">
            <label for="tbxProductName">产品名称</label>
            <input type="text" class="form-control" id="tbxProductName" placeholder="输入产品名称">
        </div>
        <div class="form-group">
            <label for="tbxProductBatchNum">产品批号</label>
            <input type="text" class="form-control" id="tbxProductBatchNum" placeholder="输入产品批号">
        </div>
        <div class="form-group">
            <label for="tbxInspectionDate">报检日期</label>
            <input type="text" class="form-control" id="tbxInspectionDate">
        </div>
        <div class="form-group">
            <label>审批状态</label>
            <select class="form-control" id="ddlInspectionState">
                <option value="">全部</option>
                <option value="待审核">待审核</option>
                <option value="已接收">已接收</option>
                <option value="已回退">已回退</option>
            </select>
        </div>
        <button type="button" class="btn btn-success" id="btnSearch"><span class="glyphicon glyphicon-search"></span> 查询</button>
        <button type="button" class="btn btn-default" id="btnRefresh"><span class="glyphicon glyphicon-refresh"></span> 重置</button>
        <button type="button" class="btn btn-default" id="btnToExcel"><span class="glyphicon glyphicon-floppy-save"></span> 导出到Excel</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <br />
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>报检单编号</th>
                    <th>产品名称</th>
                    <th>产品批号</th>
                    <th>报检日期</th>
                    <th>接收人</th>
                    <th>接收时间</th>
                    <th>审批状态</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody id="tableList"></tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="form-inline">
            <div class="form-group">
                共<span id="totalPageCount"></span>页 |
                <span id="totalDataCount"></span>条数据
                每页<select id="ddlPageSize" class="form-control">
                    <option value="5">5</option>
                    <option selected value="3">3</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>项
            </div>
            <div class="form-group">
                <ul id="pageList" style="padding-top:5px;"></ul>
            </div>
            <div class="input-group col-md-1 col-lg-1">
                <input id="tbxCurPage" value="1" maxlength="7" size="2" class="form-control text-center" type="text" placeholder="">
                <span class="input-group-btn">
                    <button id="goPage" class="btn btn-primary" type="button">
                        转到
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //初始化日期控件
        $("#tbxInspectionDate").datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format: 'yyyy-mm-dd'
        });

        //获取报检单列表及分页按钮操作
        getList(1, $("#ddlPageSize").val());
        function getList(curPage, pageSize) {
            var productName = $("#tbxProductName").val();
            var productBatchNum = $("#tbxProductBatchNum").val();
            var inspectionDate = $("#tbxInspectionDate").val();
            var inspectionState = $("#ddlInspectionState").val();

            var args = {
                "curPage": curPage,
                "pageSize": pageSize,
                "productName": productName,
                "productBatchNum": productBatchNum,
                "inspectionState": inspectionState,
                "inspectionDate": inspectionDate
            };
            $.post("/Add/GetInspectionList", encodeURIComponent(JSON.stringify(args)), function (result) {
                var listInfo = result["infoList"];//数据列表
                var count = result["count"];//数据个数
                if (listInfo.length!=0) {
                    var totalPageCount;//总页数
                    if (count % pageSize != 0) {
                        totalPageCount = count / pageSize + 1;
                    }
                    else {
                        totalPageCount = count / pageSize;
                    }

                    $("#totalPageCount").text(parseInt(totalPageCount));
                    $("#totalDataCount").text(count);

                    $("#tableList").empty();
                    $.each(listInfo, function (index, val) {
                        var personName = val["DisposePersonName"] == null ? "" : val["DisposePersonName"];
                        var inspectionNum = val["InspectionApplicationNum"] == null ? "" : val["InspectionApplicationNum"];
                        var disposeDate = val["DisposeDate"] == null ? "" : getJsonDateTime(val["DisposeDate"]);
                        var temp = "<tr>";
                        temp += "<td>" + (index + 1) + "</td>";
                        temp += "<td>" + inspectionNum + "</td>";
                        temp += "<td>" + val["ProductName"] + "</td>";
                        temp += "<td>" + val["ProductBatchNum"] + "</td>";
                        temp += "<td>" + getJsonDate(val["InspectionDate"]) + "</td>";
                        temp += "<td>" + personName + "</td>";
                        temp += "<td>" + disposeDate + "</td>";
                        temp += "<td>" + val["InspectionApplicationState"] + "</td>";
                        temp += "<td class='text-center'><a href='javascript:void(0)' class='btnDetail' data-uid='" + val["InspectionApplicationID"] + "'><i class='glyphicon glyphicon-list'></i> 详细信息</a>";
                        temp += "&nbsp;&nbsp;&nbsp;&nbsp;";
                        temp += "<a href='javascript:void(0)' class='btnDel' data-state='" + val["InspectionApplicationState"] + "' data-uid='" + val["InspectionApplicationID"] + "'><i class='glyphicon glyphicon-remove'></i> 删除</a></td>";
                        temp += "</tr>";
                        $("#tableList").append(temp);
                    });
                    var options = {
                        numberOfPages: 6,
                        bootstrapMajorVersion: 3,
                        currentPage: curPage,
                        totalPages: totalPageCount,
                        useBootstrapTooltip: false,
                        itemTexts: function (type, page, current) {
                            switch (type) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "尾页";
                                case "page":
                                    return page;
                            }
                        },
                        alignment: 'right',
                        tooltipTitles: function (type, page, current) {
                        },
                        onPageClicked: function (event, originalEvent, type, page) {
                            getList(page, pageSize);
                            $("#tbxCurPage").val(page);
                        }
                    }
                    $('#pageList').bootstrapPaginator(options);
                }
                else
                {
                    $("#totalDataCount,#totalPageCount").text("0");
                    var noData = "<tr><td colspan=8 class='text-center'><h3>没有数据！</h3></td></tr>";
                    $("#tableList").empty().append(noData);
                    $('#pageList').empty();
                }
            });
        }
        $("#ddlPageSize").change(function () {
            $("#tbxCurPage").val("1");
            getList(1, $("#ddlPageSize").val());
        });
        $("#goPage").click(function () {
            if ($("#tbxCurPage").val() == "") {
                toastr["warning"]("页码不能为空", "提示");
            }
            else {
                var r = /^[0-9]*[1-9][0-9]*$/
                if (r.test($("#tbxCurPage").val())) {
                    var goPageNum = parseInt($("#tbxCurPage").val());
                    var totalPage = parseInt($("#totalPageCount").html());
                    if (goPageNum >= 1 && goPageNum <= totalPage) {
                        getList(goPageNum, $("#ddlPageSize").val());
                        $("#tbxCurPage").val(goPageNum);
                    }
                    else {
                        toastr["warning"]("亲，页码超过范围！", "提示");
                        $("#tbxCurPage").val("");
                    }
                }
                else {
                    toastr["warning"]("亲，只能填写数字！", "提示");
                    $("#tbxCurPage").val("");
                }
            }
        });

        //查询按钮
        $("#btnSearch").click(function () {
            getList(1, $("#ddlPageSize").val());
        });

        //重置按钮
        $("#btnRefresh").click(function () {
            $("#tbxProductName").val("");
            $("#tbxProductType").val("");
            $("#tbxInspectionDate").val("");
            $("#ddlInspectionState").val("");
            getList(1, $("#ddlPageSize").val());
        });

        //删除已回退的报检单
        $(document).on("click", ".btnDel", function () {
            var infoID = $(this).attr("data-uid");
            var state = $(this).attr("data-state");
            if (state != "审核回退") {
                toastr.warning("只能删除已回退的报检单！如要删除，请联系质检进行回退操作。", "提示");
            }
            else
            {
                var args = {
                    "id": infoID
                };
                Ewin.confirm({ message: "确认要删除吗？" }).on(function (e) {
                    if (!e) {
                        return;
                    }
                    else {
                        $.post("/Add/Del", encodeURIComponent(JSON.stringify(args)), function (result) {
                            if (result == "ok") {
                                toastr.success("删除成功", "提示");
                                getList($("#tbxCurPage").val(), $("#ddlPageSize").val());
                            }
                            else {
                                if (result == "noBack") {
                                    toastr.warning("不是回退的报检单不能删除！", "提示");
                                }
                                else {
                                    toastr.error(result, "提示");
                                }
                            }
                        });
                    }
                });
            }
        });

        //报检单详细信息按钮
        $(document).on("click", ".btnDetail", function () {
            var infoID = $(this).attr("data-uid");
            var args = {
                "id": infoID
            };
            $.post("/Add/GetInspectionDetail", encodeURIComponent(JSON.stringify(args)), function (result) {
                $("#detailModal").modal("show");
                var inspectionDeptList = result["inspectionDeptList"];
                var inspectionInfo = result["inspectionInfo"][0];

                var inspectionNum = inspectionInfo.InspectionApplicationNum == null ? "" : inspectionInfo.InspectionApplicationNum;
                $("#lblProductName").text("产品名称：" + inspectionInfo.ProductName);
                $("#lblProductDealer").text("经销商：" + inspectionInfo.ProductDealer);
                $("#lblProductPackingType").text("包装规格：" + inspectionInfo.ProductPackingType);
                $("#lblArrivalDate").text("到货日期：" + getJsonDate(inspectionInfo.ArrivalDate));
                $("#lblState").text("报检单状态：" + inspectionInfo.InspectionApplicationState);
                $("#lblProductBatchNum").text("产品批号：" + inspectionInfo.ProductBatchNum);

                $("#lblInspectionNum").text("报检单编号：" + inspectionNum);
                $("#lblProductFactory").text("生产厂家：" + inspectionInfo.ProductFactory);
                $("#lblProductType").text("产品型号：" + inspectionInfo.ProductType);
                $("#lblProductCount").text("到货数量：" + inspectionInfo.ProductCount);
                $("#lblInspectionInfo").text("报检："+inspectionInfo.InspectionPersonName+" | " + getJsonDate(inspectionInfo.InspectionDate));
                $("#lblSamplePlace").text("采样地点/车号：" + inspectionInfo.SamplePlace);

                var mark = inspectionInfo.DisposeRemark == null ? "" : inspectionInfo.DisposeRemark;
                $("#lblRemark").text("备注信息：" + mark);

                var deptLi = "";
                $.each(inspectionDeptList, function (indexInArray, valueOfElement) {
                    deptLi += "<li>" + valueOfElement.fatherName + "：" + valueOfElement.childName + "</li>";
                });
                $("#productDeptList").empty().append(deptLi);
            });
        });
    });
</script>
